<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>csaboutmanufacture</name>
            <displayName><![CDATA[Tab manufacturer]]></displayName>
            <version><![CDATA[1]]></version>
            <description><![CDATA[Displays a tab about of manufacturers on the product page]]></description>
            <author><![CDATA[Codespot]]></author>
            <tab><![CDATA[mymodule]]></tab>
            <is_configurable>0</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>