<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>mailalerts</name>
            <displayName><![CDATA[Почтовые предупреждения]]></displayName>
            <version><![CDATA[2.4]]></version>
            <description><![CDATA[Отправка почтовых уведомлений покупателям и продавцам.]]></description>
            <author><![CDATA[PrestaShop]]></author>
            <tab><![CDATA[administration]]></tab>
	<confirmUninstall>Вы уверены, что хотите удалить все уведомления клиента ?</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>